{{ if .Site.Data.homepage.education.enable }}
<section class="section section--border-bottom rad-animation-group">
    <div class="container">
        <div class="row rad-fade-down">
            <div class="col-12 col-sm-6">
                <h2>{{ .Site.Data.homepage.education.title }}</h2>
                <div class="row pt-2 pt-md-4">
                    {{ range .Site.Data.homepage.education.items }}
                    <div class="col-12 col-sm-6 mb-4 mb-sm-0">
                        <div class="education">
                            <div class="education__date">{{ .year }}</div>
                            <div class="education__title">{{ .university }}</div>
                            <div class="education__degree">
                                {{ .degree }}
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
            <div class="col-12 col-sm-6 mt-5 mt-sm-0">
                {{ range .Site.Data.homepage.experience.items }}
                <div class="experience">
                    <div class="experience__date">{{ .duration }}</div>
                    <div class="experience__title">{{ .title }}</div>
                    <div class="experience__company">{{ .company }}</div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
